[credential]
	helper = cache --timeout=3600
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[difftool]
	prompt = false
[alias]
	ldiff = difftool -t latex
[user]
	name = {{ .name }}
	email = {{ .email }}
{{- if .signingkey }}
	signingkey = {{ .signingkey }}
{{- end }}
[commit]
{{- if .signingkey }}
	gpgsign = true
{{- else }}
	gpgsign = false
{{- end }}
[pull]
	rebase = true
{{- if .signingkey }}
[gpg]
	format = ssh
{{- if .sshSignProgram }}
[gpg "ssh"]
	program = {{ .sshSignProgram }}
{{- end }}
{{- end }}
